# -------------------------------------------
# WORKFLOW REUTILIZÃVEL ("Callable Workflow")
# -------------------------------------------

name: Reusable Build, Test, and Push Workflow

on:
  workflow_call:
    inputs:
      service-path:
        description: 'Path to the service directory (e.g., service-psp/)'
        required: true
        type: string
      image-name:
        description: 'Docker image name (e.g., service-psp-app)'
        required: true
        type: string
      dockerhub-repo:
        description: 'Docker Hub repository name (e.g., pix-simulator)'
        required: true
        type: string
    secrets:
      DOCKER_USERNAME:
        description: 'Docker Hub Username'
        required: true
      DOCKER_PASSWORD:
        description: 'Docker Hub Password/Token'
        required: true

jobs:
  
  publish:
    if: contains(github.event.head_commit.message, '[publish-dockerhub]')
    runs-on: ubuntu-latest

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles(format('{0}/pom.xml', inputs.service-path)) }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build and run tests
        run: |
          cd ${{ inputs.service-path }}
          mvn -B test

      - name: Package
        run: |
          cd ${{ inputs.service-path }}
          mvn -B package -DskipTests

  build-and-push-ghcr:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Image Repository ENV (GHCR)
        id: repo
        run: echo "IMAGE_REPO=ghcr.io/$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')/${{ inputs.image-name }}" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image (GHCR)
        uses: docker/build-push-action@v5
        with:
          context: ./${{ inputs.service-path }}
          file: ./${{ inputs.service-path }}/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_REPO }}:latest
            ${{ env.IMAGE_REPO }}:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

  optional-dockerhub-publish:
    if: |
      contains(toJson(github.event), '[publish-dockerhub]') ||
      github.ref_type == 'tag'
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./${{ inputs.service-path }}
          file: ./${{ inputs.service-path }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ inputs.dockerhub-repo }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ inputs.dockerhub-repo }}:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
          platforms: linux/amd64,linux/arm64